.cta {
  padding: 2rem 0 0;
  text-align: center;
  position: relative;

  &__container {
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    background: white;
    transform: translateY(40%);
    z-index: 111;
    max-width: 500px;
    margin: 0 auto;
  }

  &__title {
    font-size: $font-sm;
  }

  &__btn {
    width: 80%;
    max-width: 250px;
    min-width: 200px;
    padding: .8rem 0;
    background: $pink;
    color: $paleCyan;
    margin-top: 1rem;
  }

  @include breakpoint-up(large) {
    &__title {
      font-size: $font-med;
    }
  }
}