$pink: hsl(322, 100%, 66%);
$paleCyan: hsl(193, 100%, 96%);
$darkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);

$font-weights: (
  "regular": 400,
  "medium": 600,
  "bold": 700
);

// Font sizes
$font-sm: 0.875rem;   // 14px
$font-med: 1.125rem;  // 18px